html{
    scroll-behavior: smooth;
    --success: #48c78e;
}

::selection {
    background-color: var(--success);
}

section.section {
    background-color: var(--success);
}

div a.navbar-item:hover {
    color: var(--success);
}

h2.caption {
    color: var(--success);
}

div.card {
    margin: 5px;
    padding: 5px;
    background-color: var(--success);
}

header.card-header {
    background-color: var(--success);
}

p.subtitle {
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
}


section.hero-image {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url("./images/desktopstock.jpg");
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
